# Hypothesis

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns
from scipy.stats import chisquare

In [2]:
game = pd.read_csv('vgames2_clean.csv', index_col = 0)
game.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Total_Sales
1,Candace Kane's Candy Factory,DS,2008,Action,Destineer,0.04,0.00,0.00,0.00,0.04
2,The Munchables,Wii,2009,Action,Namco Bandai Games,0.17,0.00,0.00,0.01,0.18
3,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010,Adventure,Alchemist,0.00,0.00,0.02,0.00,0.02
4,Deal or No Deal: Special Edition,DS,2010,Misc,Zoo Games,0.04,0.00,0.00,0.00,0.04
5,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010,Platform,D3Publisher,0.12,0.09,0.00,0.04,0.25

In [3]:
game['Platform'].unique()

array(['DS', 'Wii', 'PSP', 'PS3', 'PC', 'PS', 'GBA', 'PS4', 'PS2', 'XB',
       'X360', 'GC', '3DS', '2600', 'SAT', 'GB', 'NES', 'DC', 'N64',
       'XOne', 'SNES', 'WiiU', 'PSV', 'GEN', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

# 1. Platform Nintendo Hypothesis Testing

In [42]:
game_clean = game.copy()
nintendo_df = game_clean.groupby('Platform').mean().T

In [43]:
nintendo = ['3DS', 'DS', 'GB', 'GBA', 'N64', 'NES', 'SNES', 'Wii', 'GC', 'WiiU']
nintendo_df = game_clean[game_clean['Platform'].isin(nintendo)]
non_nintendo_df = game_clean[~game_clean['Platform'].isin(nintendo)]
pv = stats.ttest_ind(nintendo_df['Total_Sales'], non_nintendo_df['Total_Sales'], alternative = 'greater')
pv[1]

0.050199942878025934

In [45]:
non_nintendo_df.mean()

/var/folders/dw/94thms1n5817tsrqwqcs_3rr0000gn/T/ipykernel_7103/3397940017.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  non_nintendo_df.mean()

Year           2006.493939
NA_Sales          0.254384
EU_Sales          0.160840
JP_Sales          0.051748
Other_Sales       0.058825
Total_Sales       0.525796
dtype: float64

# 2. Publisher Nintendo Hypothesis Testing

In [6]:
nintendo_df = game_clean[game_clean['Publisher'] == 'Nintendo']
non_nintendo_df = game_clean[game_clean['Publisher'] != 'Nintendo']
pv = stats.ttest_ind(nintendo_df['Total_Sales'], non_nintendo_df['Total_Sales'], alternative = 'greater')
pv[1]

4.282189918448494e-268

# 3. Genre Shooter Hypothesis Testing

In [7]:
action_df = game_clean[(game_clean['Genre'] == 'Platform')]
non_action_df = game_clean[(game_clean['Genre'] != 'Platform')]
pv = stats.ttest_ind(action_df['Total_Sales'], non_action_df['Total_Sales'], alternative = 'greater')
pv[1]

8.295663175607912e-16

# Chi Square 독립성 확인

In [8]:
mean_sales = game_clean.mean()[1:-1]
print(mean_sales)
chisquare(mean_sales)

NA_Sales       0.266477
EU_Sales       0.148053
JP_Sales       0.078557
Other_Sales    0.048469
dtype: float64

/var/folders/dw/94thms1n5817tsrqwqcs_3rr0000gn/T/ipykernel_7103/1330845003.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mean_sales = game_clean.mean()[1:-1]

Power_divergenceResult(statistic=0.20776758577605448, pvalue=0.9763257091555876)

In [9]:
sum_sales = game_clean.sum()[-5:-1]
chisquare(sum_sales)

Power_divergenceResult(statistic=3353.7843695970714, pvalue=0.0)

In [10]:
genre = game_clean.groupby('Platform').mean()['Total_Sales']
chisquare(genre)

Power_divergenceResult(statistic=18.915511070732638, pvalue=0.941759213960315)

In [41]:
game_clean[(game_clean['Publisher'] == 'Nintendo') & (game_clean['Genre'] == 'Platform')].mean()

/var/folders/dw/94thms1n5817tsrqwqcs_3rr0000gn/T/ipykernel_7103/4239730831.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  game_clean[(game_clean['Publisher'] == 'Nintendo') & (game_clean['Genre'] == 'Platform')].mean()

Year           2001.315315
NA_Sales          1.977117
EU_Sales          0.764865
JP_Sales          0.922162
Other_Sales       0.175045
Total_Sales       3.839189
dtype: float64

In [49]:
# nintendo
game_clean[(game_clean['Publisher'] == 'Nintendo') & game_clean['Platform'].isin(nintendo)]

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Total_Sales
34,Mario & Luigi: Paper Jam & Mario Kart 7 Double...,3DS,2015,Misc,Nintendo,0.00,0.00,0.01,0.00,0.01
37,Advance Wars: Dual Strike,DS,2005,Strategy,Nintendo,0.30,0.03,0.04,0.03,0.40
67,Kirby: Mass Attack,DS,2011,Platform,Nintendo,0.52,0.06,0.41,0.05,1.04
71,Command & Conquer,N64,1999,Strategy,Nintendo,0.22,0.05,0.00,0.00,0.27
77,Wrecking Crew,NES,1985,Platform,Nintendo,0.00,0.00,0.51,0.00,0.51
...,...,...,...,...,...,...,...,...,...,...
16516,Super Mario Galaxy 2,Wii,2010,Platform,Nintendo,3.66,2.42,0.98,0.64,7.70
16532,New Super Mario Bros. Wii,Wii,2009,Platform,Nintendo,14.59,7.06,4.70,2.26,28.61
16541,Pocket Monsters Stadium,N64,1998,Strategy,Nintendo,0.00,0.00,1.37,0.00,1.37
16555,ASH: Archaic Sealed Heat,DS,2007,Role-Playing,Nintendo,0.00,0.00,0.12,0.00,0.12
16586,Pokemon Channel,GC,2003,Adventure,Nintendo,0.24,0.06,0.07,0.01,0.38

In [51]:
game_clean[(game_clean['Publisher'] == 'Nintendo')]

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Total_Sales
34,Mario & Luigi: Paper Jam & Mario Kart 7 Double...,3DS,2015,Misc,Nintendo,0.00,0.00,0.01,0.00,0.01
37,Advance Wars: Dual Strike,DS,2005,Strategy,Nintendo,0.30,0.03,0.04,0.03,0.40
67,Kirby: Mass Attack,DS,2011,Platform,Nintendo,0.52,0.06,0.41,0.05,1.04
71,Command & Conquer,N64,1999,Strategy,Nintendo,0.22,0.05,0.00,0.00,0.27
77,Wrecking Crew,NES,1985,Platform,Nintendo,0.00,0.00,0.51,0.00,0.51
...,...,...,...,...,...,...,...,...,...,...
16516,Super Mario Galaxy 2,Wii,2010,Platform,Nintendo,3.66,2.42,0.98,0.64,7.70
16532,New Super Mario Bros. Wii,Wii,2009,Platform,Nintendo,14.59,7.06,4.70,2.26,28.61
16541,Pocket Monsters Stadium,N64,1998,Strategy,Nintendo,0.00,0.00,1.37,0.00,1.37
16555,ASH: Archaic Sealed Heat,DS,2007,Role-Playing,Nintendo,0.00,0.00,0.12,0.00,0.12
16586,Pokemon Channel,GC,2003,Adventure,Nintendo,0.24,0.06,0.07,0.01,0.38

In [52]:
game_clean[game_clean['Platform'].isin(nintendo)]

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Total_Sales
1,Candace Kane's Candy Factory,DS,2008,Action,Destineer,0.04,0.00,0.00,0.00,0.04
2,The Munchables,Wii,2009,Action,Namco Bandai Games,0.17,0.00,0.00,0.01,0.18
4,Deal or No Deal: Special Edition,DS,2010,Misc,Zoo Games,0.04,0.00,0.00,0.00,0.04
6,Power Pro Kun Pocket 8,DS,2005,Sports,Konami Digital Entertainment,0.00,0.00,0.14,0.00,0.14
12,Harvest Moon: More Friends of Mineral Town,GBA,2003,Simulation,Ubisoft,0.14,0.05,0.00,0.00,0.19
...,...,...,...,...,...,...,...,...,...,...
16581,Captain Morgane and the Golden Turtle,DS,2012,Adventure,Reef Entertainment,0.00,0.03,0.00,0.00,0.03
16584,LEGO Indiana Jones 2: The Adventure Continues,Wii,2009,Action,Activision,0.91,0.39,0.00,0.13,1.43
16585,Bionicle Heroes,DS,2006,Shooter,Eidos Interactive,0.06,0.00,0.00,0.00,0.06
16586,Pokemon Channel,GC,2003,Adventure,Nintendo,0.24,0.06,0.07,0.01,0.38
16594,Ice Age 2: The Meltdown,GC,2006,Platform,Vivendi Games,0.15,0.04,0.00,0.01,0.20