# Hypothesis

In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [9]:
game = pd.read_csv('vgames2_clean.csv', index_col = 0)
game.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Total_Sales
1,Candace Kane's Candy Factory,DS,2008,Action,Destineer,0.04,0.00,0.00,0.00,0.04
2,The Munchables,Wii,2009,Action,Namco Bandai Games,0.17,0.00,0.00,0.01,0.18
3,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010,Adventure,Alchemist,0.00,0.00,0.02,0.00,0.02
4,Deal or No Deal: Special Edition,DS,2010,Misc,Zoo Games,0.04,0.00,0.00,0.00,0.04
5,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010,Platform,D3Publisher,0.12,0.09,0.00,0.04,0.25

In [76]:
game['Platform'].unique()

array(['DS', 'Wii', 'PSP', 'PS3', 'PC', 'PS', 'GBA', 'PS4', 'PS2', 'XB',
       'X360', 'GC', '3DS', '2600', 'SAT', 'GB', 'NES', 'DC', 'N64',
       'XOne', 'SNES', 'WiiU', 'PSV', 'GEN', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [184]:
nintendo = ['3DS', 'DS', 'GB', 'GBA',  'NES', 'SNES', 'Wii', 'GC', 'WiiU']
print(' nin : ', game[game['Platform'].isin(nintendo)].mean()['Total_Sales'])
print('non nin : ', game[~game['Platform'].isin(nintendo)].mean()['Total_Sales'])

/var/folders/dw/94thms1n5817tsrqwqcs_3rr0000gn/T/ipykernel_53517/421014270.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(' nin : ', game[game['Platform'].isin(nintendo)].mean()['Total_Sales'])

 nin :  0.5315233986060405
non nin :  0.5435545766030347

/var/folders/dw/94thms1n5817tsrqwqcs_3rr0000gn/T/ipykernel_53517/421014270.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print('non nin : ', game[~game['Platform'].isin(nintendo)].mean()['Total_Sales'])

# Hypothesis Testing
# Nintendo 플랫폼의 게임 평균 출고량이 다른 게임 회사들의 출고량 보다 높다

In [52]:
game_clean = game.copy()
nintendo_df = game_clean.groupby('Platform').mean().T

In [179]:
nintendo_df = game_clean.groupby('Platform').sum().T
nintendo = ['3DS', 'DS', 'GB', 'GBA', 'N64', 'NES', 'SNES', 'Wii', 'GC', 'WiiU']
nintendo_df['Nintendo'] = 0
for i in nintendo:
    nintendo_df['Nintendo'] += nintendo_df[i]
nintendo_df = nintendo_df.drop(nintendo, axis = 1)
nintendo_df

Platform,2600,3DO,DC,GEN,GG,NG,PC,PCFX,PS,PS2,...,PSP,PSV,SAT,SCD,TG16,WS,X360,XB,XOne,Nintendo
Year,227948.00,5984.0,103997.00,53812.00,1992.00,23934.00,1878195.00,1996.00,2367631.00,4251711.00,...,2396411.00,823738.00,345313.00,11963.00,3990.00,12000.00,2474164.00,1600906.00,427135.00,12286148.00
NA_Sales,80.32,0.0,5.43,19.27,0.00,0.00,92.03,0.00,333.79,568.54,...,106.50,16.07,0.72,1.00,0.00,0.00,593.78,179.24,83.19,1743.36
EU_Sales,4.83,0.0,1.69,5.52,0.00,0.00,136.51,0.00,211.75,332.03,...,67.15,16.27,0.54,0.36,0.00,0.00,277.90,58.37,45.63,772.37
JP_Sales,0.00,0.1,8.56,2.67,0.04,1.44,0.17,0.03,139.09,134.10,...,75.72,20.81,32.26,0.45,0.16,1.42,12.29,1.38,0.34,747.76
Other_Sales,0.83,0.0,0.27,0.89,0.00,0.00,24.24,0.00,40.53,187.77,...,41.47,8.41,0.07,0.05,0.00,0.00,84.62,8.31,11.92,190.52
Total_Sales,85.98,0.1,15.95,28.35,0.04,1.44,252.95,0.03,725.16,1222.44,...,290.84,61.56,33.59,1.86,0.16,1.42,968.59,247.30,141.08,3454.01

In [69]:
nintendo_df.loc['Total_Sales', 'Nintendo']
game_clean.describe()

9.016041115493676

In [118]:
print('nin', len(nintendo_df), ' non nin  : ', len(non_nintendo_df))

nin 6124  non nin  :  10117

In [125]:
nintendo = ['3DS', 'DS', 'GB', 'GBA', 'N64', 'NES', 'SNES', 'Wii', 'GC', 'WiiU']
nintendo_df = game_clean[game_clean['Platform'].isin(nintendo)]
non_nintendo_df = game_clean[~game_clean['Platform'].isin(nintendo)]
pv2 = stats.ttest_ind(nintendo_df['Total_Sales'], non_nintendo_df['Total_Sales'].sample(6124), alternative = 'greater')
pv2[1]

0.09131615481447795

In [104]:
# non_nintendo_df.describe()
# nintendo_df.describe()

# 2. Hypothesis Testing 출판사

In [126]:
nintendo_df = game_clean[game_clean['Publisher'] == 'Nintendo']
non_nintendo_df = game_clean[game_clean['Publisher'] != 'Nintendo']
pv = stats.ttest_ind(nintendo_df['Total_Sales'], non_nintendo_df['Total_Sales'].sample(692), alternative = 'greater')
pv[1]

5.725111880708159e-20

In [89]:
print('nin', len(nintendo_df), ' non nin  : ', len(non_nintendo_df))

nin 692  non nin  :  15549

## Hypothesis Testing 장르

In [177]:
action_df = game_clean[(game_clean['Genre'] == 'Action') & (game_clean['Genre'] != 'Sports')]
non_action_df = game_clean[(game_clean['Genre'] != 'Action') & (game_clean['Genre'] != 'Sports')]
pv = stats.ttest_ind(action_df['Total_Sales'], non_action_df['Total_Sales'], alternative = 'greater')
pv[1]

0.5997774746843698

In [158]:
len(action_df)

3240